Canvo.xcodeproj/project.xcworkspace/xcuserdata/olegkomaristy.xcuserdatad/UserInterfaceState.xcuserstate
Canvo.xcodeproj/project.xcworkspace/xcuserdata/olegkomaristy.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
/Canvo.xcodeproj/project.xcworkspace/xcuserdata
